<nav class="bottom navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">Fikner</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/myaccount']">Luis Carlos <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/subscription']">Subscripciones</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/subscription']">Configuración</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/help']">Ayuda</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link disabled" href="#">Cerrar sesión</a>
                  </li>
            </ul>
      </div>
</nav>
<myacount></myacount>