<div class="col-lg-12">
    <h1>{{title}}</h1>
    <div class="identity-alert alert alert-success" *ngIf="identity && identity.sub">
        Bienvenido! {{identity.email}}
    </div>
    <div class="identity-alert alert alert-danger" *ngIf="identity && identity.data">
        Verifique sus datos!
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
        <p>
            <label>Email:</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email"  required/>
            <span *ngIf="!email.valid && email.touched">El Email no es valido</span>
        </p>
        <p>
            <label> Contraseña </label>
            <input type="password" name="pass" class="form-control" #pass="ngModel" [(ngModel)]="user.pass" required/>
            <span *ngIf="!pass.valid && pass.touched">La contraseña no es valida</span>
        </p>
        <a [routerLink]="['/myacount']" class="btn btn-primary">Entrar</a>
        <!--<input type="submit" value="Entrar" class="btn btn-primary" [disabled]="!loginForm.form.valid">-->

        <p>
            <input type="submit" value="Iniciar sesion con facebook" class="btn btn-primary">
        </p>
        <a [routerLink]="['/register']">Crear cuenta</a>
    </form>
</div>
