<div class="col-lg-12">
        <h1>{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Te has registrado correctamente, logeate <a [routerLink]="['/login']">aqui</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        No te has has registrado
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(); registerForm.reset();">
        <p>
            <label>Nombres</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required/>
            <span *ngIf="!name.valid && name.touched">El nombre no es valido</span>
        </p>
        <p>
            <label>Apellidos</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required/>
            <span *ngIf="!name.valid && name.touched">El nombre no es valido</span>
        </p>
        <p>
            <label>Numero telefonico</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required/>
            <span *ngIf="!name.valid && name.touched">El nombre no es valido</span>
        </p>
        <p>
            <label>Fecha de nacimiento</label>
            <select required="required">
                <option value="" selected="selected">Año</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
               <option value="2003">2003</option>
            </select>
            <select required="required">
                <option value="" selected="selected">Mes</option>
                <option value="1">Jan</option><option value="2">Feb</option>
                <option value="3">Mar</option><option value="4">Apr</option>
                <option value="5">May</option><option value="6">Jun</option>
                <option value="7">Jul</option><option value="8">Aug</option>
                <option value="9">Sep</option><option value="10">Oct</option>
                <option value="11">Nov</option><option value="12">Dec</option>
            </select>
            <select required="required">
                <option value="" selected="selected">Dia</option>
                <option value="1">1</option><option value="2">2</option>
                <option value="3">3</option><option value="4">4</option>
                <option value="5">5</option><option value="6">6</option>
                <option value="7">7</option><option value="8">8</option>
                <option value="9">9</option><option value="10">10</option>
                <option value="11">11</option><option value="12">12</option>
                <option value="13">13</option><option value="14">14</option>
                <option value="15">15</option><option value="16">16</option>
                <option value="17">17</option><option value="18">18</option>
                <option value="19">19</option><option value="20">20</option>
                <option value="21">21</option><option value="22">22</option>
                <option value="23">23</option><option value="24">24</option>
                <option value="25">25</option><option value="26">26</option>
                <option value="27">27</option><option value="28">28</option>
                <option value="29">29</option><option value="30">30</option>
                <option value="31">31</option>
            </select>
        </p>
        <p>
            <label>Email</label>
            <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required/>
            <span *ngIf="!email.valid && email.touched">El email no es valido</span>
        </p>
        <p>
            <label>Contraseña</label>
            <input type="password" class="form-control" name="pass" #pass="ngModel"  [(ngModel)]="user.pass" required/>
            <span *ngIf="!pass.valid && pass.touched">La contraseña no es valida</span>
        </p>
        <input type="submit" value="Registrar" class="btn btn-success" [disabled]="!registerForm.form.valid">
    </form>

</div>