<div class="col-lg-12">
          <label class="required">Tipo de documento*</label>
      <select class="form-control">
            <option value="CC">CC</option>
            <option value="TI">TI</option>
            <option value="PAS">PAS</option>
            <option value="CE">CE</option>
      </select>
</div>
 <label>Numero de documento*</label>
<input type="text"  required="required" placeholder="Ejemplo( 1026265423 )" class="form-control">
      <p>Ejemplo:10263547 valor, sin  puntos ni comas</p>
<label class="required">País de nacimiento*</label>
<input type="text"  required="required" placeholder="Ejemplo( Argentina  )" class="form-control">

<label class="required">Ciudad de residencia*</label>
<input type="text" required="required" placeholder="Ejemplo( Bogota  )" class="form-control">
<label class="required">Genero*</label>
      <select  required="required" class="form-control">
            <option value="" selected="selected">Seleccione tipo</option>
            <option value="Masculino">Hombre</option>
            <option value="Femenino">Mujer</option>
            <option value="Otro">Otro</option>
      </select>
<label>Telefono celular *</label>
<input type="text" required="required" maxlength="10" class="form-control" value="12321321321">


<label >Teléfono fijo</label>
<input type="text"  maxlength="10" class="form-control">

<label >Whatsapp</label>
<input type="text"  maxlength="13" class="form-control">
<label>Dirección de  residencia</label>
<input type="text"  placeholder="Ejemplo( Calle 41A#12-12  )" class="form-control">
<label>Estudios realizados</label>
<select class="form-control">
      <option value="">Seleccione tipo</option>
      <option value="Ninguno">Ninguno</option>
      <option value="Modelaje">Modelaje</option>
      <option value="Actuacion">Actuacion</option>
      <option value="Modelaje y Actuacion">Modelaje y Actuacion</option>
</select>
<label>Mi campo artístico es</label>
<select class="form-control">
      <option value="">Seleccione tipo</option>
      <option value="Actor">Actor</option>
      <option value="Actor y modelo">Actor y modelo</option>
      <option value="Actriz">Actriz</option>
      <option value="Actriz y modelo">Actriz y modelo</option>
      <option value="Extra">Extra</option>
      <option value="Figurante">Figurante</option>
      <option value="Modelo">Modelo</option>
      <option value="Locut@r">Locut@r</option>
      <option value="Ninguno">Ninguno</option>
      <option value="Otro">Otro</option>
</select>

<label >Peso</label>
<select  class="form-control">
      <option value="">Peso en kg</option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="597">597</option>
</select>

<label>Estatura en Centímetros*</label>
<select required="required" class="form-control">
      <option value="" selected="selected">Estatura en Centímetros</option>
      <option value="102">102</option>
      <option value="103">103</option>
      <option value="273">273</option>
</select>

<label  class="required">Color de piel*</label>
<select required="required" class="form-control">
      <option value="" selected="selected">Seleccione </option>
      <option value="I">I-Muy Blanca</option>
      <option value="II">II-Blanca</option>
      <option value="III">III-Ligeramente morena</option>
      <option value="IV">IV-Morena</option>
      <option value="V">V-Muy Morena </option>
      <option value="VI">VI-Negra</option>
</select>
<label  class="required">Color de cabello*</label>
<select  required="required" class="form-control">
      <option value="" selected="selected">Seleccione </option>
      <option value="Negro">Negro</option>
      <option value="Castaño">Castaño</option>
      <option value="Rubio-castañoclaro">Rubio o castaño claro</option>
      <option value="Castaño oscuro">Castaño oscuro</option>
      <option value="Pelirojo">Pelirojo</option>
      <option value="Gris">Gris o canoso</option>
      <option value="Blanco">Blanco</option>
      <option value="Sin cabello">Sin cabello</option>
      <option value="Otro">Otro</option>
      <label class="required">Talla de camisa*</label>
</select>
      <select  required="required" class="form-control">
            <option value="" selected="selected">Seleccione </option>
            <option value="0-1 Meses">0-1 Meses</option>
            <option value="1-3 Meses">1-3 Meses</option>
            <option value="3-6 Meses">3-6 Meses</option>
            <option value="6-9 Meses">6-9 Meses</option>
            <option value="9-12 Meses">9-12 Meses</option>
            <option value="12-18 Meses">12-18 Meses</option>
            <option value="12-24 Meses">12-24 Meses</option>
            <option value="24-36 Meses">24-36 Meses</option>
            <option value="USA-XXXS(0)">USA-XXXS(0)</option>
            <option value="USA-XXS(2)">USA-XXS(2)</option>
            <option value="USA-XS(4)">USA-XS(4)</option>
            <option value="USA-S(6)">USA-S(6)</option>
            <option value="USA-M(8)">USA-M(8)</option>
            <option value="USA-L(10)">USA-L(10)</option>
            <option value="USA-XL(12)">USA-XL(12)</option>
      </select>
<label>Talla de pantalón*</label>
<select>
      <option value="" selected="selected">Seleccione </option>
      <option value="1">1</option><option value="2">2</option>
      <option value="4">4</option><option value="6">6</option>
      <option value="8">8</option><option value="10">10</option>
      <option value="12">12</option>
      <option value="XS(26-28)">XS(26-28)</option>
      <option value="S(29-31)">S(29-31)</option>
      <option value="M(32-34)">M(32-34)</option>
      <option value="L(35-37)">L(35-37)</option>
      <option value="XL(38-40)">XL(38-40)</option>
      <option value="XXL(41-43)">XXL(41-43)</option>
</select>
<label>Talla de calzado*</label>
<select>
      <option value="" selected="selected">Seleccione </option>
      <option value="2.5  - 32">2.5 - 32</option>
      <option value="3 - 32.5">3 - 32.5</option>
      <option value="3.5 - 33">3.5 - 33</option>
      <option value="4 - 33.5">4 - 33.5</option>
      <option value="4.5 - 34">4.5 - 34</option>
      <option value="5 - 35.5">5 - 35.5</option>
      <option value="5.5 - 36">5.5 - 36</option>
      <option value="6 - 36.5">6 - 36.5</option>
      <option value="6.5 - 37">6.5 - 37</option>
      <option value="7 - 37.5">6 - 37.5</option>
      <option value="7.5 - 38">7.5 - 38</option>
      <option value="8 - 38.5">8 - 38.5</option>
      <option value="8.5 - 39">8.5 - 39</option>
      <option value="9 - 39.5">9 - 39.5</option>
      <option value="9.5 - 40">9.5 - 40</option>
      <option value="10 - 40.5">10 - 40.5</option>
      <option value="10.5 - 41">10.5 - 41</option>
      <option value="11 - 41.5">11 - 41.5</option>
      <option value="11.5 - 42">11.5 - 42</option>
      <option value="12 - 42.5">12 - 42.5</option>
      <option value="12.5 - 43">12.5 - 43</option>
      <option value="13 - 43.5">13 - 43.5</option>
      <option value="13.5 - 44">13.5 - 44</option>
      <option value="14 - 44.5">14 - 44.5</option>
      <option value="14.5 - 45">14.5 - 45</option>
      <option value="15 - 45.5">15 - 45.5</option>
      <option value="15.5 - 46">15.5 - 46</option>
      <option value="16 - 46.5">16 - 46.5</option>
      <option value="16 - 47.5">16.5 - 47</option>
</select>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
      <div>
            <label>Deportes</label>
            <input type="text" placeholder="Ejemplo( Futbol,MMA,Boxing )" class="form-control">
      </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
      <div>
            <label>Habilidades</label>
            <input type="text"  placeholder="Ejemplo( Cantante,Pintor,Imitador vocal )" class="form-control">
      </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
      <div>
            <label>Idiomas</label>
            <input type="text" placeholder="Ejemplo( Ingles,Aleman,Frances )" class="form-control">
      </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
      <div>
            <label>Maneja</label>
            <select class="form-control">
                  <option value="No">No</option>
                  <option value="Carro">Carro</option>
                  <option value="Moto">Moto</option>
                  <option value="Carro y Moto">Carro y Moto</option>
                  <option value="Otro">Otro</option>
            </select>
      </div>
</div>
<label>Entidad salud</label>
<input type="text"  maxlength="80" class="form-control">
<label  class="required">Color de ojos*</label>
      <select required="required" class="form-control">
            <option value="" selected="selected">Seleccione </option>
            <option value="Negro">Negro</option>
            <option value="Castaño">Castaño</option>
            <option value="Ambar">Ambar</option>
            <option value="Avellana">Avellana</option>
            <option value="Verde">Verde</option>
            <option value="Azul">Azul</option>
            <option value="Gris">Gris</option>
            <option value="Heterocromia">Heterocromia</option>
      </select>
<div class="form-group">
      <div><label for="admin_adminbundle_hojadevida_experienciaTv">Experiencia</label><textarea id="admin_adminbundle_hojadevida_experienciaTv" name="admin_adminbundle_hojadevida[experienciaTv]" rows="33" placeholder="Digite aqui su experiencia en Televisión,Btl protocolo (etc)" class="form-control"></textarea></div>
</div>
<br>
<div class="col-md-3">
      <div>
            <button type="submit" id="admin_adminbundle_hojadevida_submit" name="admin_adminbundle_hojadevida[submit]" class="btn btn-default btn-block">Guardar </button>
      </div>
</div>