<div class="col-lg-12">

<label class="required">Nacionalidad*</label>
      <select  required="required" class="form-control">
            <option value="" selected="selected">Pais</option>
            <option value="Colombia">Colombia</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Otro">...</option>
      </select>
<label class="required">País de residencia*</label>
      <select  required="required" class="form-control">
            <option value="" selected="selected">Pais</option>
            <option value="Colombia">Colombia</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Otro">...</option>
      </select>
<label class="required">Ciudad de residencia*</label>
      <select  required="required" class="form-control">
            <option value="" selected="selected">Ciudad</option>
            <option value="Colombia">Bogota</option>
            <option value="Venezuela">Medellin</option>
            <option value="Otro">...</option>
      </select>

      <label class="required">Genero*</label>
      <select  required="required" class="form-control">
            <option value="" selected="selected">Seleccione tipo</option>
            <option value="Masculino">Hombre</option>
            <option value="Femenino">Mujer</option>
            <option value="Otro">Otro</option>
      </select>
<label>Telefono movil *</label>
<input type="text" required="required" maxlength="10" class="form-control">
      <label>Este movil tiene whatsapp?</label>
      <input type="checkbox" name="whatsapp">
      <hr>
      <a href="" class="btn btn-primary">Guarar y continuar</a>