<div class="col-lg-12">
    <h1>{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'Success'">
        Lista creada correctamente, ver todas <a [routerLink]="['/list']">aqui</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'Error'">
        No se pudo crear la lista
    </div>
    <form #listNewForm="ngForm" (ngSubmit)="onSubmit(); listNewForm.reset();" class="col-lg-4">
        <p>
            <label>Nombre</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="list.name" required/>
        </p>
        <input type="submit" value="Crear lista" class="btn btn-success" [disabled]="!listNewForm.form.valid"/>
    </form>
</div>
