<div class="col-lg-12">
    <h1>{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'Success'">
        Nombre de lista Actualizada correctamente, ver todas <a [routerLink]="['/list']">aqui</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'Error'">
        No se pudo modificar el nombre de la lista
    </div>
    <form #listEditForm="ngForm" (ngSubmit)="onSubmit();listEditForm.reset();" class="col-lg-4">
        <p>
            <label>Nuevo nombre para lista</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="lists.name" required/>
        </p>
        <input type="submit" value="actualizar" class="btn btn-success" [disabled]="!listEditForm.form.valid"/>
    </form>
</div>
