<div class="col-lg-12">
    <h1>{{title}}</h1>
    <a [routerLink]="['/add-song',id]">Añadir cancion</a>
    <table class="table table-hover table-striped" *ngIf="lists && lists.length >=1">
        <tr>
            <th>Disponibilidad</th>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Calificar</th>
            <td>Accion</td>
        </tr>
        <tr *ngFor="let list of lists"  class="list-item">
            <td>
                <div *ngIf="(list.disabled==false);then disablefalse else disabletrue">
                </div>
                <ng-template #disablefalse>
                    Ok
                </ng-template>
                <ng-template #disabletrue>
                    Eliminada
                </ng-template>
            </td>
            <td>
                {{list.name}}
            </td>
            <td>
                {{list.author}}
            </td>
            <td>
                <div *ngIf="(qualification && qualification.length >=1);then content else other_content">
                </div>
                <ng-template #content>
                    <div *ngFor="let quali of qualification" >
                        <div *ngIf="(list.id==quali.idSong.id);then content1">
                        </div>
                        <ng-template #content1>
                            {{quali.qualification}}
                        </ng-template>
                    </div>
                </ng-template>
                <a [routerLink]="['/new-qualification',list.id]">Calificar</a>
            </td>
            <td>
                <a class="btn btn-danger" (click)="removeSong(list.id,id)">Remover de lista</a>
            </td>
        </tr>
    </table>

</div>
