<div class="col-lg-12">
    <h1>{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'Success'">
       calificacion creada correctamente, ver todas <a [routerLink]="['/list']">aqui</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'Error'">
        No se pudo calificar, verifique que la cancion, ya no este calificada
    </div>
    <form #qualificationNewForm="ngForm" (ngSubmit)="onSubmit(); qualificationNewForm.reset();" class="col-lg-4">
        <p>
            <label>Califique</label>
            <select name="score"  class="form-control" #score="ngModel" [(ngModel)]="qualification.score" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </p>
        <input type="submit" value="Calificar" class="btn btn-success" [disabled]="!qualificationNewForm.form.valid"/>
    </form>
</div>
