<div class="col-lg-12">
    <h1>{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
       calificacion añadida correctamente, ver todas <a [routerLink]="['/list']">aqui</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'Error'">
        No se pudo añadir la cancion
    </div>
    <table class="table table-hover table-striped" *ngIf="songs && songs.length >=1">
            <tr>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Accion</th>
            </tr>
            <tr *ngFor="let list of songs"  class="list-item">
                <td>
                  {{list.name}}
                </td>
                <td>
                    {{list.author}}
                </td>
                <th>
                    <a class="btn btn-success" (click)="addSong(list.id)">Añadir a lista</a>
                </th>
            </tr>
         </table>
</div>
