<div class="col-lg-12">
    <h1>{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'Success'">
        Cancion creada correctamente, ver todas <a [routerLink]="['/song-list']">aqui</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'Error'">
        No se pudo crear, verifique que la cancion ya no se encuentra registrada
    </div>
    <form #songNewForm="ngForm" (ngSubmit)="onSubmit();songNewForm.reset();" class="col-lg-4">
        <p>
            <label>Nombre</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="song.name" required/>
        </p>
        <p>
            <label>autor</label>
            <input type="text" name="author" class="form-control" #author="ngModel" [(ngModel)]="song.author" required/>
        </p>
        <input type="submit" value="Crear" class="btn btn-success" [disabled]="!songNewForm.form.valid"/>
    </form>
</div>
