<div class="col-lg-12">
    <h1>{{title}}</h1>
    <table class="table table-hover table-striped" *ngIf="songs && songs.length >=1">
        <tr>
            <th>Nombre</th>
            <th>Autor</th>
            <td>Accion</td>
        </tr>
        <tr *ngFor="let song of songs"  class="song-item">
            <td>
                {{song.name}}
            </td>
            <td>
                {{song.author}}
            </td>
            <td>
                <a class="btn btn-danger" (click)="deleteSong(song.id)">Eliminar</a>
                <a [routerLink]="['/edit-song',song.id]" class="btn btn-primary">Editar</a>
            </td>
        </tr>
    </table>
</div>
